<!-- <li style="background-color:#ffffff" class="image project-cover">
    <div class="project-description">
        <h1></h1>
        <h2></h2>
    </div>
  </li> -->
{{#each project}}
    <li class="image num{{@index}}" data-project-index="{{@index}}">

        <img src="{{folder}}/images/{{images.[0]}}">

      {{description}}

      <h1 class="project-title">{{name}} | {{properties.[2]}}</h1>
    </li>
{{/each}}
