<div class "wrapper-main">

  <div class="project-content">

    <div class="project-cover">
      <img src="url({{folder}}/images/{{images.[0]}})">
    </div>

    <div class="project-description">
        <h1>{{project.[0].name}}</h1>
        <h2>{{project.[0].description}}</h2>
    </div>

    <div class="project-grid">

      <div class="project-image-container__full-width">
        <div class="project-image project-image__full-width">
          <img src="/images/01kerbin/images/00kerbin.png">
        </div>
      </div>
      <div class="project-image-container__full-width">
        <div class="project-image project-image__full-width">
          <img src="/images/01kerbin/images/01kerbin.png">
        </div>
      </div>
      <div class="project-image-container__full-width">
        <div class="project-image project-image__full-width">
          <img src="/images/01kerbin/images/02kerbin.png">
        </div>
      </div>
      <div class="project-image-container__half-width">
        <div class="project-image project-image__half-width">
          <img src="/images/01kerbin/images/03kerbin.png">
        </div>
      </div>
      <div class="project-image-container__half-width">
        <div class="project-image project-image__half-width">
          <img src="/images/01kerbin/images/04kerbin.gif">
        </div>
      </div>
    </div>

  </div>

</div>





  <!-- {{#each project.[0].images}}
    <div class="project-image">
      <img src="/images/01kerbin/images/{{this}}">
    </div>
  {{/each}}
  </div>
</div> -->





<!-- {{#each project.[0].images}}
  <img src="{{../folder}}/images/{{this}}">
{{/each}}
/images/01kerb/images/00kerb.png -->
